* {
    padding: 0;
    margin: 0;
}
html,body{
    width:100%;
    height:100%
}
body{
    background:url("./images/seven.jpg") no-repeat;
    background-size: 100%;
}
.head {
    font-family:'myfont';
    font-style: oblique;
    font-size: 29px;
    font-weight: 900;
    color: rgb(247, 232, 232);
    width: 100%;
    height: 60%;
    /* background-color: rgb(112, 77, 77); */
    padding-top: 20px;
}
@font-face {
    font-family: 'myfont';
    src: url(./fontname/IDChuXinShaoNvTiJ-2.ttf) format('truetype');
}
.head .head-p {
    margin-left: 10px;
}
.foot {
    width: 100%;
    height: 25%;
    text-align: center;
    position: relative;
}
.foot p{
    font-family:'myfont';
    font-style: oblique;
    font-size: 20px;
    font-weight: 900;
    color: rgb(247, 232, 232);
    margin-left: -150px;
    margin-bottom: 10px;
}
.foot textarea {
    resize: none;
    font-family:'myfont';
    font-style: oblique;
    font-size: 15px;
    font-weight: 900;
    color: rgb(247, 232, 232);
    display: block;
    margin: 0 auto;
    width: 300px;
    height: 70px;
    border: none;
    border-radius: 15px;
    padding-top: 5px;
    padding-left: 10px;
    background-color: rgba(128, 133, 197,0.5);
}
.foot img {
    width: 80px;
    height: 80px;
    margin-top: 20px;
    animation: img-btn 0.5s infinite;
    -moz-animation: img-btn 0.5s infinite;	/* Firefox */
    -webkit-animation: img-btn 0.5s infinite;	/* Safari 和 Chrome */
    -o-animation: img-btn 0.5s infinite;
}
@keyframes img-btn{
    0% {width: 81px;height: 81px;}
    /* 25% {width: 82px;height: 82px;}
    50% {width: 83px;height: 83px;}
    75% {width: 84px;height: 84px;} */
    100% {width: 84px;height: 84px;}
}
.foot span {
    font-family:'myfont';
    font-style: oblique;
    font-size: 15px;
    font-weight: 900;
    color: rgb(247, 232, 232);
    position: absolute;
    left: 50%;
    top: 160px;
}

